:host {
  .demo-button-container {
    padding: 20px 0;
  }

  .demo-button + .demo-button {
    margin-left: 8px;
  }

  .mat-table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .red {
    color: red;
    border-bottom: 1px solid #e0e0e0;
  }

  .green {
    color: green;
    border-bottom: 1px solid #e0e0e0;
  }

  .mat-column-created_date,
  .mat-column-status,
  .green, .red,
  .mat-column-email {
    @media only screen and (max-width: 992px) {
      display: none !important;
    }
  }
}
