<div class="container">
  <div class="demo-button-container">
    <button (click)="addUser()" mat-raised-button color="primary" class="demo-button">
      {{ 'add_user' | translate }}
    </button>
  </div>

  <!-- Users -->
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="'sort_username' | translate">
        {{
        'username'
        | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="'sort_full_name' | translate">
        {{ 'full_name' |
        translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> {{ 'email' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> {{ 'status' | translate }} </th>
      <td mat-cell *matCellDef="let element" class="{{ element.id_status === 1 ? 'green' : 'red' }}">
        {{element.tag_status}}
      </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="created_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="'sort_created_date' | translate"> {{
        'created_date'
        | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.created_date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="'label_pagenation' | translate">
  </mat-paginator>
</div>
