:host {
  h1 {
    font-size: 24px;
    margin: 20px 0;
    text-transform: capitalize;
  }

  .form-add-user {
    &-container {
      border: 1px solid #cfcfcf;
      background-color: white;
      padding: 10px;
      margin-bottom: 20px;
    }

    * {
      font-size: 12px;
    }

    &--full {
      width: 100%;
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &--multip {
      width: 100%;

      @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
      }

      .mat-form-field {
        width: 50%;

        @media only screen and (max-width: 992px) {
          width: 100%;
        }

        &:first-of-type {
          padding-right: 20px;

          @media only screen and (max-width: 992px) {
            padding-right: 0;
          }
        }
      }
    }
  }
}
