<div class="container">
  <h1>{{ 'title_add_user' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="addUser(form)" class="form-add-user">

    <div class="form-add-user-container">
      <mat-form-field appearance="standard" class="form-add-user--full">
        <mat-label>{{ 'username' | translate }}</mat-label>
        <input matInput minlength="3" maxlength="20" placeholder="{{ 'username' | translate }}"
          formControlName="username" #usernameInput>
        <mat-error *ngIf="(form.get('username')).errors?.minlength">
          {{ 'error_minlenght' | translate }}
        </mat-error>
        <mat-error *ngIf="(form.get('username')).errors?.maxlength">
          {{ 'error_maxlenght' | translate }}
        </mat-error>
        <mat-error *ngIf="(form.get('username')).errors?.pattern">
          {{ 'error_pattern' | translate }}
        </mat-error>
        <mat-error *ngIf="(form.get('username')).errors?.isExist">
          {{ 'already_exist' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="form-add-user--multip">
        <mat-form-field appearance="standard">
          <mat-label>{{ 'first_name' | translate }}</mat-label>
          <input matInput placeholder="{{ 'first_name' | translate }}" formControlName="first_name" #firstnameInput>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>{{ 'last_name' | translate }}</mat-label>
          <input matInput placeholder="{{ 'last_name' | translate }}" formControlName="last_name" #lastnameInput>
        </mat-form-field>
      </div>

      <mat-form-field appearance="standard" class="form-add-user--full">
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" placeholder="{{ 'email' | translate }}">
        <mat-error *ngIf="(form.get('email')).errors?.required">{{ 'email_required' | translate }}</mat-error>
        <mat-error *ngIf="(form.get('email')).errors?.pattern">{{ 'email_not_valid' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="form-add-user--actions">
      <button mat-raised-button (click)="goBack()">
        {{ 'title_cancel' | translate }}
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || isExist">
        {{ 'title_add_user' | translate }}
      </button>
    </div>
  </form>
</div>
